.fa-5{
font-size:3em;
color:DimGrey;
}
/* side navigation */
.sidenav {
    width: 0;
    position: fixed;
    z-index: 100;
    right: 0;
    background-color: white;
    overflow: scroll;
    transition: 0.8s;
    margin-top:100px;
/*     border:1px solid black; */
    font-weight:bold;
    height:90%;
}
.product img{
	text-ailgn:left;
	margin-top:10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.checkoutbtn{
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    background-color:black;
    font-weight:bold;
    bottom:0;
    
}
.cart{
	font-size:20px;
	font-weight:bold;
	
}
.bottom_container{
	text-align: center;
	margin-top:50px;
}
.closebtn{
	float:right;
	font-size:40px;
	color:black;
}
#button_delete{
	font-size:50px;
}