* {
	margin:0px;
	padding: 0px;
}
#body{
	background-color:#fff1cc;
}
.article {
	border:1px solid white;
	margin-bottom: 50px;
	box-sizing: border-box;
	width: 1000px;
	height: 600px;
}

.user {
	border-right:1px solid white;
	background-color:white;
	box-sizing: border-box;
	position: absolute;
	width: 200px;
	height: 600px;
}

.content {
/* 	background-color:#dff0d8; */
	box-sizing: border-box;
	position: absolute;
	left: 200px;
	width: inherit;
	height: 600px;
}

.content_header {
	border-bottom:1px solid white;
	background-color:#dff0d8;
	position: absolute;
	top: 0px;
	width: inherit;
	height: 50px;
}

.content_body {
	border-bottom:1px solid white;
	padding:5px;
	background-color: #dff0d8;
	position: absolute;
	top: 50px;
	width: inherit;
	height: 500px;
	overflow-y:scroll;
}

.content_footer {
	background-color:#e5e5e5;
	position: absolute;
	width: inherit;
	top: 550px;
	height: 50px;
}
#floor{
	margin-top:70px;
	background-color:#f2dede;
	width:max;
	min-width:1200px;
/* 	color:white; */
}